ul,
li,
h2,
div {
  font: 12px "Andale Mono", "Andale Mono WT", Consolas, sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: normal;
  font-family: "Andale Mono", "Andale Mono WT", Consolas, sans-serif;
}
.navver {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}
.boody {
  max-width: 60%;
  align-items: center;
  margin: 0 auto;
}

.resume {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: blue;
  margin-bottom: 1.5em;
}

.resume:hover {
  font-weight: bold;
  background-color: blue;
  text-decoration-color: white;
  text-decoration-thickness: 6px;
  color: white;
}

.pdf {
  line-height: normal;
}

.bigger-text {
  font-size: 17px;
}

.leadership {
  padding-bottom: 0;
  margin-bottom: -5px;
}

.home {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ff5349;
  margin-bottom: 1.5em;
}

.home:hover {
  background-color: #ff5349;
  text-decoration-color: white;
  font-weight: bold;
}

.home:active {
  font-weight: bold;
}

.gallery {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: gold;
  margin-bottom: 1.5em;
}

.gallery:hover {
  background-color: gold;
  text-decoration-color: white;
  font-weight: bold;
}

.header {
  font-stretch: ultra-condensed;
  line-height: 0;
}

.item {
  line-height: 1.8;
}

.item-1 {
  line-height: 3;
}

.item-bullet {
  line-height: 1.8;
  list-style: circle;
}

.projects {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #62c6f2;
  margin-bottom: 1.5em;
}

.projects:hover {
  font-weight: bold;
  background-color: #62c6f2;
  text-decoration-color: white;
  text-decoration-thickness: 6px;
}

.download {
  right: -50px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.social-line {
  border-top: 1px dotted;
}

.social-line-1 {
  border-top: 1px dotted;
  position: relative;
  top: -10px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 100%;
  border: none;
  margin: 0;
}

.videogrid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  min-height: 20vh;
  width: 100%;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-image: url(./DSC_0359.JPG);
  background-position: center;
  background-size: cover;
}

.japan-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: calc(9 / 21 * 100%);
}

.card {
  padding: 0;
  list-style-type: none;
}

.socials {
  display: block;
  width: 20%;
  padding-right: 40px;
}

.socials-2 {
  display: block;
  width: 20%;
  padding-right: 40px;
  text-align: right;
}

.info {
  display: block;
  width: 80%;
  padding-right: 40px;
}
.about-me {
  line-height: 1.8;
  width: 80%;
  color: #676767;
}

.foot {
  display: flex;
  align-items: left;
  min-height: 5vh;
  color: black;
}

.nav {
  display: block;
  align-items: left;
  min-height: 5vh;
  color: black;
}
.kobe {
  display: flex;
}

.kobe-2 {
  display: flex;
  padding-top: -50px;
}

.words {
  padding-right: 40px;
  line-height: 0.4;
}

.nav-links {
  width: 100%;
  align-items: left;
  display: flex;
  list-style: none;
}

.nav-links-2 {
  width: 15%;
  text-align: center;
  display: flex;
  list-style: none;
}
.logo {
  width: 50%;
  align-items: left;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .boody {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .boody {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .boody {
    max-width: 95%;
  }
}
