.videogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  min-height: 20vh;
  width: 85%;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.japan-video {
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
}

.write-up {
  margin: 0 auto;
  width: 85%;
}
