@import url(//db.onlinewebfonts.com/c/95cecf452d3208890088a5b4c19c7ecf?family=Helvetica+Neue+ME);
@font-face {
  font-family: "Helvetica Neue ME";
  src: url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.eot");
  src: url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.svg#Helvetica Neue ME")
      format("svg");
}

.videogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  min-height: 20vh;
  width: 85%;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.japan-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: calc(2 / 3 * 100%);
}

.write-up {
  margin: 0 auto;
  width: 85%;
}
