@import url(//db.onlinewebfonts.com/c/d6082b8797914dc6c66c1f251e30307a?family=HelveticaNeueforTargetUni-Bd);
@font-face {
  font-family: "HelveticaNeueforTargetUni-Bd";
  src: url("//db.onlinewebfonts.com/t/d6082b8797914dc6c66c1f251e30307a.eot");
  src: url("//db.onlinewebfonts.com/t/d6082b8797914dc6c66c1f251e30307a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d6082b8797914dc6c66c1f251e30307a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d6082b8797914dc6c66c1f251e30307a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d6082b8797914dc6c66c1f251e30307a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d6082b8797914dc6c66c1f251e30307a.svg#HelveticaNeueforTargetUni-Bd")
      format("svg");
}

.videogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  min-height: 20vh;
  width: 85%;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.holder {
  width: 100%;
  display: flex;
}

.videogrid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  min-height: 10vh;
  width: 50%;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.videogrid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  min-height: 5vh;
  width: 50%;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.write-up {
  margin: 0 auto;
  width: 85%;
}
