@font-face {
  font-family: "Andale Mono";
  src: url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot");
  src: url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix")
    format("embedded-opentype");
  src: url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2")
    format("woff2");
  src: url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff")
    format("woff");
  src: url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf")
    format("truetype");
  src: url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono")
    format("svg");
}
