ul,
li,
h2,
div {
  font: 12px "Andale Mono", "Andale Mono WT", Consolas, sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: normal;
  font-family: "Andale Mono", "Andale Mono WT", Consolas, sans-serif;
}

.boody {
  max-width: 100%;
  align-items: center;
}

.resume {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: blue;
  margin-bottom: 1.5em;
}

.bigger-text {
  font-size: 17px;
}

.home {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: #ff5349;
  margin-bottom: 1.5em;
}

.gallery {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: gold;
  margin-bottom: 1.5em;
}

.item {
  line-height: 3;
}

.projects {
  color: "black";
  line-height: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #62c6f2;
  margin-bottom: 1.5em;
}

.social-line {
  border-top: 1px dotted;
}

.card {
  padding: 0;
  list-style-type: none;
}

.socials {
  display: block;
  width: 20%;
  padding-right: 40px;
}

.about-me {
  line-height: 1.8;
  width: 70%;
}

.nav {
  display: block;
  align-items: left;
  min-height: 5vh;
  color: black;
}
.kobe {
  display: flex;
}

.words {
  padding-right: 40px;
  line-height: 0.4;
}

.nav-links {
  padding-right: 20px;
  width: 50%;
  align-items: left;
  display: flex;
  list-style: none;
}

.logo {
  width: 50%;
  align-items: left;
  list-style: none;
}
